@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

@mixin tablet-and-desktop {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

//Section for Mobile Text Styles
@mixin H1-page-header {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
}

@mixin H2-subheader {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

@mixin H3-labels-links-buttons {
    font-size: .8125rem;
    line-height: 1.25rem;
    font-weight: 600;
}

@mixin H4-table-header {
    font-size: .688rem;
    line-height: 1rem;
    font-weight: 400;
}

@mixin P1-body-large {
    font-size: .938rem;
    line-height: 1.625rem;
    font-weight: 400;
}

@mixin P2-body-medium {
    font-size: .813rem;
    line-height: 1.25rem;
    font-weight: 400;
}

@mixin P3-body-small {
    font-size: .688rem;
    line-height: 1rem;
    font-weight: 400;
}

//Section for Desktop & Tablet Test Styles
@mixin td-H1-page-header {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}

@mixin td-H2-subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin td-H3-labels-links-buttons {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
}

@mixin td-H4-table-header {
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin td-P1-body-large {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
}

@mixin td-P2-body-medium {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin td-P3-body-small {
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: 400;
}