@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
    padding: 1rem;
    margin: 0 7.5rem;

    &__content {
        margin-top: 1.3rem;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
    }

    &__card {
        padding: 1.3rem;
        background-color: #FFF;
        border-radius: 14px;
        flex-grow: 1;
        position: relative;
    }

    &__card-heading {
        font-size: 0.875rem;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 1.5rem;

        &--payment-cards {
            height: 15rem;
        }
    }

    &__flex-items {
        background-color: #FFF;
        display: flex;
        gap: 10rem;
        margin-top: 1.5rem;

        &--address-cards {
            justify-content: start;
            gap: 1.75rem;
        }

        &--orders {
            justify-content: space-between;
            gap: 0;
        }

        &--payment-cards {
            gap: 0;
        }
    }

    &__item-heading {
        font-size: 0.875rem;
        font-weight: 400;
        color: #707070;
        margin-bottom: 0.25rem;
    }

    &__card-heading-wrapper {
        display: flex;
        gap: 5rem;

        &--icons {
            gap: 1rem;
        }
    }

    &__card-heading-icon {
        cursor: pointer;
    }

    &__card-heading-icon-wrapper {
        display: flex;
        gap: 1rem;
    }

    &__card-heading-text {
        cursor: pointer;
    }

    &__card-heading-text {
        color: #1773B0;
    }

    &__address-card {
        background-color: #EFF5FF;
        padding: 1rem;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__address-card-heading {
        display: flex;
        justify-content: space-between;
    }

    &__address-heading {
        color: #707070;
        font-size: 0.875rem;
        font-weight: 400;
    }
    &__address-heading-icon {
        font-size: 0.875rem;
        font-weight: 400;
    }

    &__order-heading-wrapper {
        display: flex;
        gap: 5rem;
    }

    &__order-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1.25rem;
        border-radius: 8px;
        font-size: 0.875rem;

        &--confirmed {
            background-color: #EAFBEA;
        }

        &--pending {
            background-color: #FFF5EB;
        }

        &--delivered {
            background-color: #EFF5FF;
        }
    }

    &__order-number {
        font-size: 1.375rem;
        font-weight: 500;
    }


    &__payment-methods-heading-wrapper {
        display: flex;
        gap: 5rem;
    }

    &__method-card {
        position: absolute;
    }

    &__method-card-body {
        position: relative;
        z-index: 2;
        color: #FFF;
        margin-top: 1rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__method-card-wrapper {
        width: 17rem;
    }
}