.orders {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 8rem;
  background-color: #f5f5f5;

  &-head {
    display: flex;
    justify-content: start;
  }

  &__title {
    font-size: 1.75rem;
    // margin-left: 2.75rem;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    // margin: auto;
    gap: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
  }
}
